* {
	box-sizing: border-box;
}

body {
	color: white;
	font-size: 30px;
}

.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */

.header {
	margin-bottom: 10px;
}

.inner-header {
	background: #3d3c66;
	height: 200px;
}

.content {
	width: 55%;
	float: left;
}

.inner-content {
	background: #3d3c66;
	min-height: 710px;
	padding: 10px;
}

.content-1 {
	width: 50%;
	float: left;
	padding-right: 10px;
}

.inner-content-1 {
	background: #49487a;
	min-height: 690px;
}

.content-2 {
	width: 50%;
	float: left;
}

.inner-content-2 {
	background: #49487a;
	min-height: 690px;
}

.sidebars {
	width: 45%;
	float: left;
}

.sidebar-1 {
	width: 33.33%;
	float: left;
	padding-left: 10px;
}

.inner-sidebar-1 {
	background: #3d3c66;
	min-height: 500px;
}

.sidebar-2 {
	width: 33.33%;
	float: left;
	padding-left: 10px;
}

.inner-sidebar-2 {
	background: #3d3c66;
	min-height: 500px;
}

.sidebar-3 {
	width: 33.33%;
	float: left;
	padding-left: 10px;
}

.inner-sidebar-3 {
	background: #3d3c66;
	min-height: 500px;
}

.footer {
	margin-top: 10px;
	padding-left: 10px;
}

.inner-footer {
	background: #3d3c66;
	height: 200px;
}